<section class="inner-section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 connect-storage-top">

				<h2>Choose an org or team to apply your subscription to, or use it personally</h2>

				<div class="colored-line">
				</div>


 				<div class="sub-heading">

				</div>

				<div>
					<form action="/clients/pay/<%=repo._id%>" method="GET">
						<div class="field-wrapper col-md-6 col-md-offset-3">
						  <select name="team_or_org" class="form-control">
						    <option value="">Personal use</option>
						    <% orgs.forEach(function(org){ %>
						      <option value="org:<%=plans_calculator.getPlan(org.members_count)%>:<%=org.login%>">Org <%=org.login%> $(<%=plans_calculator.getPrice(org.members_count,repo)%>)</option>
						    <% }) %>
						    <% teams.forEach(function(team){ %>
						      <option value="team:<%=plans_calculator.getPlan(org.members_count)%>:<%=team.id%>">Team <%=team.org.login%>/<%=team.name%> ($<%=plans_calculator.getPrice(team.members_count,repo)%>)</option>
						    <% }) %>
						  </select>
						</div>
						<div class="field-wrapper col-md-12">
							<input type="submit" class="btn standard-button inner-button" value="Subscribe">
						</div>
					</form>

				</div>


		</div>

	</div>
</section>

<div>
  <%-marked(sla)%>
</div>
