<section class="inner-section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 connect-storage-top">

				<h2>Choose an org or team to apply your subscription to, or use it personally</h2>

				<div class="colored-line">
				</div>


 				<div class="sub-heading">

				</div>

				<div>
					<form action="/clients/pay/<%=repo._id%>" method="GET">
					  <select name="org">
					    <option value="">Personal use</option>
					    <% orgs.forEach(function(org){ %>
					      <option value="org-<%=org.login%>">Org <%=org.login%> $(<%=price_calculator.calc(org.members_count,repo)%>)</option>
					    <% }) %>
					    <% teams.forEach(function(team){ %>
					      <option value="team-<%=team.id%>">Team <%=team.org.login%>/<%=team.name%> $(<%=price_calculator.calc(team.members_count,repo)%>)</option>
					    <% }) %>
					  </select>

						<div class="button-container">
							<input type="submit" class="btn standard-button inner-button" value="Subscribe">
						</div>
					</form>

				</div>


		</div>

	</div>
</section>

<div>
  <%-marked(sla)%>
</div>
