<section class="section3" id="why-it-works">

<div class="container">

	<!-- SECTION HEADING -->

	<h2>Why It Works</h2>

	<div class="colored-line">
	</div>

	<div class="features">

		<!-- FEATURES ROW 1 -->
		<div class="row">

			<!-- SINGLE FEATURE BOX -->
			<div class="col-md-3">
				<div class="feature">
					<div class="icon">
						<span class="ion-social-octocat"></span>
					</div>
					<h4>You went open source</h4>
					<p>
            You may have started it from scratch, or you may have open sourced some proprietary work you’ve done. You wanted to give back to the community, to gain recognition, maybe just to get some feedback. You published an open source project. Next thing you know, you have users. Sometimes tens, hundreds and maybe even thousands of them.
          </p>
				</div>
			</div>

			<!-- SINGLE FEATURE BOX -->
			<div class="col-md-3">
				<div class="feature">
					<div class="icon">
						<span class="ion-ios-people"></span>
					</div>
					<h4>Your users rely on you</h4>
					<p>
						Your users love what you did. They use it, and they come to rely on it. Sometimes they have problems and they ask for your help. Sometimes they go as far as to solve their problems and they send you pull requests so you can integrate it with your core project.
					</p>
				</div>
			</div>

			<!-- SINGLE FEATURE BOX -->
			<div class="col-md-3">
				<div class="feature">
					<div class="icon">
						<span class="ion-connection-bars"></span>
					</div>
					<h4>Work piles up</h4>
					<p>
						Suddenly your project becomes a burden. You can’t commit to it because you do it voluntarily, and on the other hand you get pressure from your users as if you were a commercial provider. Someone will suffer - Either you, your users, or you may even decide to quit the project altogether.
					</p>
				</div>
			</div>

			<!-- SINGLE FEATURE BOX -->
			<div class="col-md-3">
				<div class="feature">
					<div class="icon">
						<span class="ion-help-buoy"></span>
					</div>
					<h4>Vizsla to the rescue</h4>
					<p>
						This is where Vizsla fits in. We fill the gap between your resources and user expectations. We create an infrastructure for you to provide your users with obligatory attentiveness on your end. And in return, they’ll support you financially on the other hand. It’s a great deal where everybody becomes happy.
					</p>
				</div>
			</div>

		</div>

	</div>

</div> <!-- /END CONTAINER -->
</section>




<!-- =========================
     SECTION 3
============================== -->
<section class="section3 bgcolor-2" id="how-it-works">

<div class="container">

	<!-- SECTION HEADING -->

	<h2>How It Works</h2>

	<div class="colored-line">
	</div>

	<div class="features">

		<!-- FEATURES ROW 1 -->
		<div class="row">

			<!-- SINGLE FEATURE BOX -->
			<div class="col-md-4">
				<div class="feature">
					<div class="icon">
						<span class="ion-link"></span>
					</div>
					<h4>Hook Your GitHub Repository</h4>
					<p>
            Connect your GitHub to <%=config.get('app.name')%> and select the repository you want to provide paid support for.
          </p>
				</div>
			</div>

			<!-- SINGLE FEATURE BOX -->
			<div class="col-md-4">
				<div class="feature">
					<div class="icon">
						<span class="ion-ios-box"></span>
					</div>
					<h4>Define Support Packages</h4>
					<p>
						Set the pricing for the various support packages, or use the suggested defaults. We'll add a nifty badge to your repository's README, and a default SLA.md which you can edit.
					</p>
				</div>
			</div>

			<!-- SINGLE FEATURE BOX -->
			<div class="col-md-4">
				<div class="feature">
					<div class="icon">
						<span class="ion-ios-pricetag"></span>
					</div>
					<h4>Be Attentive to the <%=config.get('github.label.name')%> label</h4>
					<p>
						Whenever a user who is entitled to support submits or comments on an issue or pull request, it will be labelled with the <%=config.get('github.label.name')%> label. Respond within the time frame you've defined in your SLA.
					</p>
				</div>
			</div>
		</div>

	</div>

</div> <!-- /END CONTAINER -->
</section>




<section class="section2" id="faq">
<div class="container">

	<h2>Frequently Asked Questions</h2>
	<div class="colored-line">
	</div>



	<div class="row">

		<div class="col-md-6">

			<!-- DETAILS WITH LIST -->
			<div class="brief text-left">



				<!-- FEATURE LIST -->
				<ul class="feature-list-2">

					<!-- FEATURE -->
					<li>
					<!-- ICON -->
					<div class="icon-container pull-left">
						<span class="ion-social-usd"></span>
					</div>
					<!-- DETAILS -->
					<div class="details pull-left">
						<h6>How am I being paid?</h6>
						<p>
							We'll collect all payments for you and send you one monthly payment via PayPal.
						</p>
					</div>
					</li>

					<!-- FEATURE -->
					<li>
					<!-- ICON -->
					<div class="icon-container pull-left">
						<span class="icon_tag"></span>
					</div>
					<!-- DETAILS -->
					<div class="details pull-left">
						<h6>Do you take a commission?</h6>
						<p>
							Yes, we take 10% commission.
						</p>
					</div>
					</li>

					<!-- FEATURE -->
					<li>
					<!-- ICON -->
					<div class="icon-container pull-left">
						<span class="icon_tool"></span>
					</div>
					<!-- DETAILS -->
					<div class="details pull-left">
						<h6>What Github permission are you requiring and why?</h6>
						<p>
							We ask for <code>user:email</code> so we can contact you via email, <code>admin:repo_hook</code> so we can setup a hook on your repository and be notified by Github of new issues and pull requests, and <code>public_repo</code> so we can add the Vizsla badge to your repository's README.md file and SLA.md file to your repository
						</p>
					</div>
					</li>




				</ul>
			</div>
		</div>

		<div class="col-md-6">
			<!-- DETAILS WITH LIST -->
			<div class="brief text-left">



				<!-- FEATURE LIST -->
				<ul class="feature-list-2">


					<!-- FEATURE -->
					<li>
					<!-- ICON -->
					<div class="icon-container pull-left">
						<span class="icon_key"></span>
					</div>
					<!-- DETAILS -->
					<div class="details pull-left">
						<h6>Are you modifying anything in my repository?</h6>
						<p>
							The only two things that we touch is your README.md file, where we add the Vizsla badge, and we also add a <%=config.get('github.sla')%> file to your repository.
						</p>
					</div>
					</li>

					<!-- FEATURE -->
					<li>
					<!-- ICON -->
					<div class="icon-container pull-left">
						<span class="icon_group"></span>
					</div>
					<!-- DETAILS -->
					<div class="details pull-left">
						<h6>What excatly am I commiting for here?</h6>
						<p>
							You define it for yourself, we can't dictate anything. We provide a <a href="#">basic SLA</a> file that defines the parameters of the service you intend to provide. Modify it as you will to suit your wishes. This SLA is what you're commiting to.
						</p>
					</div>
					</li>

					<!-- FEATURE -->
					<li>
					<!-- ICON -->
					<div class="icon-container pull-left">
						<span class="ion-ios-game-controller-a"></span>
					</div>
					<!-- DETAILS -->
					<div class="details pull-left">
						<h6>Can I quit if it's not for me?</h6>
						<p>
							Sure. We will simply notify your clients,stop collecting payments from them, and may even refund their last charge.
						</p>
					</div>
					</li>






				</ul>
			</div>
		</div>

	</div> <!-- END ROW -->

</div> <!-- END CONTAINER -->

</section>



<!-- =========================
     SECTION 8 - CTA
============================== -->
<section class="cta-section" id="section8">
<div class="color-overlay">

	<div class="container">

		<h4>Are You Ready to take your open source project to the next level?</h4>
		<h2>Offer SLA supoort, that's the missing link.</h2>
		<div id="cta-4">
			<a href="/github/authorize-developer" class="btn standard-button"><i class="ion-social-github"></i>  Get Started</a>
		</div>



	</div>  <!-- /END CONTAINER -->
</div>  <!-- /END COLOR OVERLAY -->

</section>



<div id="create-issue-example" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Creating a Task via Submitting a New Issue</h4>
			</div>

			<div class="modal-body with-padding">
				<img src="<%=config.get('app.cdn_url')%>/images/create-task.png"/>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div id="create-issue-comment-example" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Creating a Task via Commenting on an Existing Issue</h4>
			</div>

			<div class="modal-body with-padding">
				<img src="<%=config.get('app.cdn_url')%>/images/create-task-from-comment.png"/>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div id="modify-task-price-example" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Modify Task Price</h4>
			</div>

			<div class="modal-body with-padding">
				<img src="<%=config.get('app.cdn_url')%>/images/modify-task-price.png"/>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
