
<!-- =========================
     SECTION 3
============================== -->
<section class="section3" id="how-it-works">

<div class="container">

	<!-- SECTION HEADING -->

	<h2>How It Works</h2>

	<div class="colored-line">
	</div>

	<div class="features">

		<!-- FEATURES ROW 1 -->
		<div class="row">

			<!-- SINGLE FEATURE BOX -->
			<div class="col-md-4">
				<div class="feature">
					<div class="icon">
						<span class="ion-link"></span>
					</div>
					<h4>Hook Your GitHub Repository</h4>
					<p>
            Connect your GitHub to esos and select the repository you want to provide paid support for.
          </p>
				</div>
			</div>

			<!-- SINGLE FEATURE BOX -->
			<div class="col-md-4">
				<div class="feature">
					<div class="icon">
						<span class="ion-help-buoy"></span>
					</div>
					<h4>Define Support Packages</h4>
					<p>
						Set the pricing for the various support packages, or use the suggested defaults. We'll add a nifty badge to your repository's README, and a default SLA.md which you can edit.
					</p>
				</div>
			</div>

			<!-- SINGLE FEATURE BOX -->
			<div class="col-md-4">
				<div class="feature">
					<div class="icon">
						<span class="ion-ios-pricetag"></span>
					</div>
					<h4>Be Attentive to the ESOS label</h4>
					<p>
						Whenever a user who is entitled to support submits or comments on an issue or pull request, it will be tagged with the ESOS tag. Respond within the time frame you've defined in your SLA.
					</p>
				</div>
			</div>
		</div>

	</div>

</div> <!-- /END CONTAINER -->
</section>




<section class="section2 bgcolor-2" id="faq">
<div class="container">

	<h2>Frequently Asked Questions</h2>
	<div class="colored-line">
	</div>



	<div class="row">

		<div class="col-md-6">

			<!-- DETAILS WITH LIST -->
			<div class="brief text-left">



				<!-- FEATURE LIST -->
				<ul class="feature-list-2">

					<!-- FEATURE -->
					<li>
					<!-- ICON -->
					<div class="icon-container pull-left">
						<span class="ion-social-usd"></span>
					</div>
					<!-- DETAILS -->
					<div class="details pull-left">
						<h6>How am I being paid?</h6>
						<p>
							We'll collect all payments for you and send you one monthly payment via PayPal.
						</p>
					</div>
					</li>

					<!-- FEATURE -->
					<li>
					<!-- ICON -->
					<div class="icon-container pull-left">
						<span class="icon_tag"></span>
					</div>
					<!-- DETAILS -->
					<div class="details pull-left">
						<h6>Do you take a commission?</h6>
						<p>
							Yes, we take 10% commission.
						</p>
					</div>
					</li>

					<!-- FEATURE -->
					<li>
					<!-- ICON -->
					<div class="icon-container pull-left">
						<span class="icon_tool"></span>
					</div>
					<!-- DETAILS -->
					<div class="details pull-left">
						<h6>What Github permission are you requiring and why?</h6>
						<p>
							We ask for <code>user:email</code> so we can contact you via email, <code>admin:repo_hook</code> so we can be notified by Github of new issues and pull requests on your repository, and <code>public_repo</code> so we can add the Vizsla badge to your repository's README.md file and SLA.md file to your repository
						</p>
					</div>
					</li>

					<!-- FEATURE -->
					<li>
					<!-- ICON -->
					<div class="icon-container pull-left">
						<span class="icon_key"></span>
					</div>
					<!-- DETAILS -->
					<div class="details pull-left">
						<h6>Are you modifying anything in my repository?</h6>
						<p>
							The only two things that we touch is your README.md file, where we add the Vizsla badge, and we also add a <%=config.get('github.sla')%> file to your repository.
						</p>
					</div>
					</li>

					<!-- FEATURE -->
					<li>
					<!-- ICON -->
					<div class="icon-container pull-left">
						<span class="icon_group"></span>
					</div>
					<!-- DETAILS -->
					<div class="details pull-left">
						<h6>How do I screen developers?</h6>
						<p>
							That's part of the beauty of <%=config.get('app.name')%> -- It's based completely on GitHub, where each developer has their public profile, and you can trace their work and style.
						</p>
					</div>
					</li>

					<!-- FEATURE -->
					<li>
					<!-- ICON -->
					<div class="icon-container pull-left">
						<span class="ion-ios-game-controller-a"></span>
					</div>
					<!-- DETAILS -->
					<div class="details pull-left">
						<h6>Do I have control over which developer work on my tasks?</h6>
						<p>
							On private repositories, simply don't grant access to anyone you're not feel comfortable with. On public repositories, any developer can take the task, but you can unassign them for any reason.
						</p>
					</div>
					</li>



				</ul>
			</div>
		</div>

		<div class="col-md-6">
			<!-- DETAILS WITH LIST -->
			<div class="brief text-left">



				<!-- FEATURE LIST -->
				<ul class="feature-list-2">


					<!-- FEATURE -->
					<li>
					<!-- ICON -->
					<div class="icon-container pull-left">
						<span class="ion-ios-people"></span>
					</div>
					<!-- DETAILS -->
					<div class="details pull-left">
						<h6>Do many developers work on each task?</h6>
						<p>
							No, just one at a time. Once a developer grabs a task, it's theirs. If you're not happy with their progress though, you can unassign them and then other developers will be able to grab it again.
						</p>
					</div>
					</li>

					<!-- FEATURE -->
					<li>
					<!-- ICON -->
					<div class="icon-container pull-left">
						<span class="ion-shuffle"></span>
					</div>
					<!-- DETAILS -->
					<div class="details pull-left">
						<h6>Sometimes developers seem to be be assigned to the issue once they grab it, and sometimes it seems <%=config.get('app.name')%> assigns them via a comment on my behalf. What's the difference?</h6>
						<p>
							It depends if it's a personal repository or one that belongs to an organization. With organization repositories, we are given much more flexibility from the GitHub API. For example, we can add collaborators with only the pull permission, and that's what we do in order to assign the developer to the issue. However, with personal repositories, we can only add collaborators will full permissions and we wouldn't want to do that. So we simply add a comment on your behalf, mentioning the developer instead.
						</p>
					</div>
					</li>

					<!-- FEATURE -->
					<li>
					<!-- ICON -->
					<div class="icon-container pull-left">
						<span class="icon_chat"></span>
					</div>
					<!-- DETAILS -->
					<div class="details pull-left">
						<h6>Can I communicate with developers working on my tasks?</h6>
						<p>
							Sure, please do. We didn't put our own mechanism in place specifically for that because we want to keep you away from GitHub for as little as possible. The best and most transparent approach is to communicate over comments on the GitHub issue, or alternatively by using <a href="http://gitter.im">Gitter</a>.
						</p>
					</div>
					</li>

					<!-- FEATURE -->
					<li>
					<!-- ICON -->
					<div class="icon-container pull-left">
						<span class="icon_currency"></span>
					</div>
					<!-- DETAILS -->
					<div class="details pull-left">
						<h6>How do payments work?</h6>
						<p>
							Payments are currently processed via pre-approved Paypal payments. For each new task you create, we'll ask you to pre-approve a payment for it. This preapprovment will only be utilized if you merge a pull request for that task, which implies that you got your job done.
						</p>
					</div>
					</li>






				</ul>
			</div>
		</div>

	</div> <!-- END ROW -->

</div> <!-- END CONTAINER -->

</section>



<!-- =========================
     SECTION 8 - CTA
============================== -->
<section class="cta-section" id="section8">
<div class="color-overlay">

	<div class="container">

		<h4>Are You Ready to Start Making Money Off Your Open Source Project?</h4>
		<h2>Because You're Entitled To!</h2>
		<div id="cta-4">
			<a href="/github/authorize-developer" class="btn standard-button"><i class="ion-social-github"></i>  Get Started</a>
		</div>



	</div>  <!-- /END CONTAINER -->
</div>  <!-- /END COLOR OVERLAY -->

</section>



<div id="create-issue-example" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Creating a Task via Submitting a New Issue</h4>
			</div>

			<div class="modal-body with-padding">
				<img src="<%=config.get('app.cdn_url')%>/images/create-task.png"/>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div id="create-issue-comment-example" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Creating a Task via Commenting on an Existing Issue</h4>
			</div>

			<div class="modal-body with-padding">
				<img src="<%=config.get('app.cdn_url')%>/images/create-task-from-comment.png"/>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div id="modify-task-price-example" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Modify Task Price</h4>
			</div>

			<div class="modal-body with-padding">
				<img src="<%=config.get('app.cdn_url')%>/images/modify-task-price.png"/>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
