<section class="inner-section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 connect-storage-top">

				<h2>Subscribe to <strong><%=repo.full_name%></strong> Enterprise Level Support</h2>

				<div class="colored-line">
				</div>


 				<div class="sub-heading">
 					starting at $<%=repo.pricing.personal.price%>/month
				</div>

				<div class="button-container">
					<a id="connect-dropbox-button" href="/github/authorize-client?next=/clients/choose-org/<%=repo._id%>" class="btn standard-button inner-button"><i class="ion-social-github"></i> Sign In With GitHub</a>
				</div>
		</div>

	</div>
</section>



<section class="section4 bgcolor-2" id="section4">
<div class="container">

	<!-- SECTION HEADING -->
	<h2>Subscribe to <strong><%=repo.full_name%></strong> Enterprise Level Support</h2>
	<div class="colored-line">
	</div>

	<div class="sub-heading">
		Get your issues and pull requests priorotized and rapidly addressed according to the <a href="#">SLA</a>.
	</div>

	<div class="pricing-table">

		<!-- PRICING TABLES -->
		<div class="row">

			<!-- PACKAGE ONE -->
			<div class="col-md-3">
				<div class="package bgcolor-white">
					<div class="header dark-bg">
						<h3>Personal</h3>
						<div class="sub-heading">
							<span class="colored-text strong">$<%=repo.pricing.personal.price%></span> per month
						</div>
					</div>

					<!-- PACKAGE FEATURES -->
					<div class="package-features">
						<ul>
              <li>
							<div class="column-9p">
								Prioritized Issues
							</div>
							<div class="column-1p">
								<span class="icon_check"></span>
							</div>
							</li>
              <li>
              <div class="column-9p">
								Prioritized Pull Requests
							</div>
							<div class="column-1p">
								<span class="icon_check"></span>
							</div>
							</li>
							<li>
							<div class="column-7p">
								Total Users
							</div>
							<div class="column-3p">
								1
							</div>
							</li>
						</ul>
						<div class="bottom-row">
              <div class="pull-left">
								<h6>$<%=repo.pricing.personal.price%>/m</h6>
							</div>
              <div class="pull-right">
								<div id="cta-1">
									<a href="/github/authorize-client?next=/clients/choose-org/<%=repo._id%>" class="btn secondary-button"><i class="ion-social-github"></i> SIGN UP</a>
								</div>
              </div>
						</div>
					</div>
				</div>
			</div> <!-- /END PACKAGE -->

			<!-- PACKAGE TWO -->
			<div class="col-md-3">
				<div class="package bgcolor-white">
					<div class="header color-bg">
						<h3>Team</h3>
						<div class="sub-heading">
							<span class=" strong">$<%=repo.pricing.team.price%></span> per month
						</div>
					</div>

					<!-- PACKAGE FEATURES -->
					<div class="package-features">
						<ul>
              <li>
							<div class="column-9p">
								Prioritized Issues
							</div>
							<div class="column-1p">
								<span class="icon_check"></span>
							</div>
							</li>
              <li>
              <div class="column-9p">
								Prioritized Pull Requests
							</div>
							<div class="column-1p">
								<span class="icon_check"></span>
							</div>
							</li>
							<li>
							<div class="column-7p">
								Total Users
							</div>
							<div class="column-3p">
								Up to 10
							</div>
							</li>
						</ul>
						<div class="bottom-row">
              <div class="pull-left">
								<h6>$<%=repo.pricing.team.price%>/m</h6>
							</div>
							<div class="pull-right">
								<div id="cta-2">
									<a href="/github/authorize-client?next=/clients/choose-org/<%=repo._id%>" class="btn standard-button"><i class="ion-social-github"></i> SIGN UP</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- /END PACKAGE -->

			<!-- PACKAGE THREE -->
			<div class="col-md-3">
				<div class="package bgcolor-white">
					<div class="header dark-bg">
						<h3>Business</h3>
						<div class="sub-heading">
							<span class="colored-text strong">$<%=repo.pricing.business.price%></span> per month
						</div>
					</div>

					<!-- PACKAGE FEATURES -->
					<div class="package-features">
						<ul>
              <li>
							<div class="column-9p">
								Prioritized Issues
							</div>
							<div class="column-1p">
								<span class="icon_check"></span>
							</div>
							</li>
              <li>
              <div class="column-9p">
								Prioritized Pull Requests
							</div>
							<div class="column-1p">
								<span class="icon_check"></span>
							</div>
							</li>
              <li>
							<div class="column-7p">
								Total Users
							</div>
							<div class="column-3p">
								Up to 50
							</div>
							</li>
						</ul>
						<div class="bottom-row">
              <div class="pull-left">
								<h6>$<%=repo.pricing.business.price%>/m</h6>
							</div>
							<div class="pull-right">
								<div id="cta-3">
									<a href="/github/authorize-client?next=/clients/choose-org/<%=repo._id%>" class="btn secondary-button"><i class="ion-social-github"></i> SIGN UP</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- /END PACKAGE -->

      <!-- PACKAGE TWO -->
			<div class="col-md-3">
				<div class="package bgcolor-white">
					<div class="header color-bg">
						<h3>Enterprise</h3>
						<div class="sub-heading">
							<span class=" strong">$<%=repo.pricing.enterprise.price%></span> per month
						</div>
					</div>

					<!-- PACKAGE FEATURES -->
					<div class="package-features">
						<ul>
              <li>
							<div class="column-9p">
								Prioritized Issues
							</div>
							<div class="column-1p">
								<span class="icon_check"></span>
							</div>
							</li>
              <li>
              <div class="column-9p">
								Prioritized Pull Requests
							</div>
							<div class="column-1p">
								<span class="icon_check"></span>
							</div>
							</li>
							<li>
							<div class="column-7p">
								Total Users
							</div>
							<div class="column-3p">
								Unlimited
							</div>
							</li>
						<div class="bottom-row">
              <div class="pull-left">
								<h6>$<%=repo.pricing.enterprise.price%>/m</h6>
							</div>
							<div class="pull-right">
								<div id="cta-2">
									<a href="/github/authorize-client?next=/clients/choose-org/<%=repo._id%>" class="btn standard-button"><i class="ion-social-github"></i> SIGN UP</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- /END PACKAGE -->

		</div> <!-- /END ROW -->
	</div> <!-- /END ALL PACKAGE -->

</div> <!-- /END CONTAINER -->

</section>
