<div class="panel panel-default">
	<div class="panel-heading"><h6 class="panel-title"><i class="icon-table"></i> My Repos</h6></div>
    <div class="datatable">
      <table class="table">
        <thead>
          <tr>
            <th>full name</th>
						<th>monthly sub $</th>
            <th>actions</th>
          </tr>
        </thead>
        <tbody>
          <% repos.forEach(function(repo){ %>
            <% var trID = repo.id%>
						<form action="/developers/hook-repo">
							<input type="hidden" name="repo" value="<%=repo.full_name%>">
	            <tr id="<%=trID%>">
	              <td><a href="<%=repo.html_url%>"><%=repo.full_name%></a></td>
								<td>$<input type="text" id="<%=trID%>-price" name="price"></td>
	              <td><input type="submit" class="btn btn-success" value="Offer Support"></td>
	            </tr>
						</form>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
